<!DOCTYPE html>
<html lang="en">

<head>
    <title>MeVite Contacts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>


<body>

    <!-- Top Animation Logo -->
    <div class="animation_container">
        <div>
            <a href="login" class="logo">
                <img class="animated fadeInRight" class="d-inline-block align-top" src="../images/mevitelogo.gif"
                    alt="mevite logo" height="30px">
            </a>

            <a href="login">
                <img id="envelope" src="../images/envelope.gif" alt="envelope" height="50px">
            </a>

            <h2 class="welcome-members"><i>Welcome,&nbsp;</i><span style="color: #ff5959"
                    class="member-name"></span><i>!</i>
            </h2>

        </div>
    </div>



    <!-- Navbar -->
    <nav class="navbar navbar-expand-md">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/members">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createEvents">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts" style="color: #FFC56C">Contacts<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron welcome">
        <h2>+ Member to Contact List</h2>
        <form class="addContacts">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="contactName" placeholder="Joe Smith">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="contactEmail" placeholder="JoeSmith@gmail.com">
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" id="contactPhone" name="phone" placeholder="444-444-4444">
            </div>
            <button type="submit" class="btn btn-default login-button">+</button>
        </form>
    </div>

    <div class="container welcome">
        <form class="contactHistory">
            <div class="form-contact">
                <label>Contact Members</label>
                <div id="contactDetails">
                    <p>Contact Name / Details</p>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>

    <div class="fixed-bottom">
        <span>Copyright 2019 ©</span>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/contacts.js"></script>

</body>

</html>