form.signup,
form.login {
  margin-top: 50px;
}

.animation_container {
  padding: 20px 50px 20px 50px;
  background-color: #f2f1f1;
}

.logo:hover {
  text-decoration: none;
}

html { 
  background: url("../images/home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#envelope {
  margin-left: 70px;
}

.navbar {
  background-color: #003A6F;
  border-radius: 0px;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-nav li a {
  color: white;
}

.navbar .navbar-nav li a:hover {
  color: #ffc56e;
}

.login-button {
  background-color: #ff5959;
  color: white;
  border-color: #aa3939;
}

.login-button:hover {
  background-color: #f94949 !important;
  color: #f2f1f1;
  border-color: #ff5959;
  outline: none;
}

button:focus {
 outline:0;
}

.login-form,
.signup-form {
  background-color: #f2f1f1;
  padding: 10px 50px 40px 50px;
  margin: 50px;
  width: 40%;
  float: right;
  border-radius: 10px;
}

label {
  color: #808080;
}

.fixed-bottom {
  background-color: #003A6F;
  color: #f2f1f1;
  padding: 5px;
  text-align: center;
}

body {
  background: url("../images/home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  margin: 30px;
  border-radius: 10px;
  background-color: #f2f1f1;
}

.event-contact {
  color: #ff5959;
  font-family: 'Lobster', cursive;
  font-style: none;
}

.bigger {
  width: 90%;
}
#color {
  color: #ff5959;
}

.member-name {
  font-family: 'Lobster', cursive;
  font-style: none;
}

.welcome-members {
  font-size: 24px;
  color: #808080;
  float: right;
  padding-bottom: 10px;
  margin: 0;
  padding: 10px 0 0 0;
 }

 .tolowercase {
  text-transform: lowercase;
}

.tocapitalize {
  text-transform: capitalize;
}

.btn {
  text-transform: lowercase;
}

h2 {
  color: #808080;
  color: #ff5959;
  font-family: 'Lobster', cursive;
  font-style: none;
  text-transform: lowercase;
}

.form-control {
  color: #808080;
}

.container.welcome {
  background-color: #f2f1f1;
  padding: 10px 50px 40px 50px;
  margin: 50px 25px 50px 50px;
  width: 40%;
  float: left;
  border-radius: 10px;
}

.jumbotron.welcome {
  background-color: #f2f1f1;
  padding: 10px 50px 40px 50px;
  margin: 50px 50px 50px 25px;
  width: 40%;
  float: right;
  border-radius: 10px;
}
  
.contact-image {
  background-color: #f2f1f1;
  padding: 20px 50px 0px 50px;
  margin: 0 auto;
  margin-top: 50px;
  width: 40%;
  border-radius: 10px;
}

.event-image {
  background-color: #f2f1f1;
  padding: 20px 50px 0px 50px;
  margin: 0 auto;
  margin-top: 50px;
  width: 40%;
  border-radius: 10px;
}
